################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LoggingDemo/LoggingDemo/.vs/LoggingDemo/v16/Server/sqlite3
