
@{
    ViewBag.Title = "CUSTOMER SEARCH";
}



using @Html.BeginForm()
{
<div>

    <div>
        @Html.Label("CUSTOMER ID")

    </div>
    <div>
        @Html.TextBox("id");
    </div>
    <div>
        <input type="submit" value="Submit" />
    </div>
</div>
}