
@{
    ViewBag.Title = "GetDataFromCustomer";
}

<h2>GetDataFromCustomer</h2>

@using (Html.BeginRouteForm("GetDataFromCustomer","Home",FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>RestaurantData</h4>
        <hr />
        <div>
            @Html.Label("Number of People")
        </div>
        <div>
            @Html.Editor("numberofpersons")
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Submit" class="btn btn-default" />
            </div>
        </div>
    </div>
}